[Desktop Entry]
Name=Eclipse IDE
Comment=An IDE for Java, C/C++ and PHP
Exec=eclipse-ide %u
Icon=eclipse
Terminal=false
Type=Application
Categories=Development;IDE;Java;C;C++;PHP
